# rules
--enable \
    andOperator, \
    anyObjectProtocol, \
    blankLinesAroundMark, \
    blankLinesAtEndOfScope, \
    blankLinesBetweenScopes, \
    braces, \
    consecutiveBlankLines, \
    consecutiveSpaces, \
    duplicateImports, \
    elseOnSameLine, \
    emptyBraces, \
    enumNamespaces, \
    extensionAccessControl, \
    hoistPatternLet, \
    indent, \
    initCoderUnavailable, \
    isEmpty, \
    leadingDelimiters, \
    linebreakAtEndOfFile, \
    modifierOrder, \
    numberFormatting, \
    preferKeyPath, \
    redundantBackticks, \
    redundantBreak, \
    redundantExtensionACL, \
    redundantFileprivate, \
    redundantGet, \
    redundantInit, \
    redundantLet, \
    redundantLetError, \
    redundantNilInit, \
    redundantObjc, \
    redundantParens, \
    redundantPattern, \
    redundantRawValues, \
    redundantReturn, \
    redundantSelf, \
    redundantVoidReturnType, \
    semicolons, \
    sortedImports, \
    spaceAroundOperators, \
    spaceAroundBraces, \
    spaceAroundBrackets, \
    spaceAroundComments, \
    spaceAroundGenerics, \
    spaceAroundOperators, \
    spaceAroundParens, \
    spaceInsideBraces, \
    spaceInsideBrackets, \
    spaceInsideComments, \
    spaceInsideGenerics, \
    spaceInsideParens, \
    strongOutlets, \
    strongifiedSelf, \
    todos, \
    trailingClosures, \
    trailingCommas, \
    trailingSpace, \
    typeSugar, \
    unusedArguments, \
    void, \
    wrapArguments, \
    wrapEnumCases, \
    yodaConditions

# Options
--swiftversion 5.5
--minversion 0.48
--extensionacl on-declarations
--indent 4
--xcodeindentation disabled
--self init-only
--stripunusedargs closure-only
--commas inline
--guardelse same-line
--wraparguments before-first
--wrapcollections before-first

# Disabled rules
# Could be disabled due to false positives or because of team agreements.
--disable \
    blankLinesAtStartOfScope, \
    fileHeader, \
    organizeDeclarations, \
    redundantType, \
    sortedSwitchCases, \
    wrapAttributes, \
    wrapMultilineStatementBraces, \
    wrapSwitchCases
